
<div id="push"></div>
</div>	
<div id="footer">
<div class="container">

	<h5>Contact us at : +918130959989</h5>
</div>
</div>
<script src="/jq/jquery.js" type="text/javascript"></script>
<script src="/jq/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>