<% include partials/header %>
<div class="container">
	<div class="jumbotron">
		<h1>Best In Class Furnitures</h1>	
	</div>	
</div>
<div class="container">
		<div class="row" style="display:flex; flex-wrap: wrap;">
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/SOFA" class="btn btn-default btn-lg"><img src="/images/sofa.jpg" alt="SOFA" class="image"></a>
					<div class="caption">
						<h4>SOFA</h4>
					</div>
				</div>
			</div>	
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/CHAIR" class="btn btn-default btn-lg"><img src="/images/chair.jpg" alt="CHAIR" class="image"></a>
					<div class="caption">
						<h4>CHAIR</h4>
					</div>
				</div>
			</div>
            <div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/TABLE" class="btn btn-default btn-lg"><img src="/images/table.jpg" alt="TABLE" class="image"></a>
					<div class="caption">
						<h4>TABLE</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/BED" class="btn btn-default btn-lg"><img src="/images/bed.jpg" alt="BED" class="image"></a>
					<div class="caption">
						<h4>BED</h4>
					</div>
			    </div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/ALMIRAH" class="btn btn-default btn-lg"><img src="/images/almirah.jpg" alt="ALMIRAH" class="image"></a>
					<div class="caption">
						<h4>ALMIRAH</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<a href="/DECORATIONS" class="btn btn-default btn-lg"><img src="/images/decorations.jpg" alt="DECORATIONS" class="image"></a>
					<div class="caption">
						<h4>DECORATIONS</h4>
					</div>
				</div>
			</div>
			
		</div>
		
	
	
</div>
<% include partials/footer %>